<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="serviceURI" value="http://localhost:8100/api"/>
    <add key="username" value="Insert username here"/>
    <add key="password" value="Insert password here"/>--> 
    <add key="serviceURI" value="http://manual.testing.remotex.net/api"/>
    <add key="username" value="johan"/>
    <add key="password" value="Johan"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>